body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: rgb(164, 164, 164);


}

.main-box{
    height: 680px;
    width: 1300px;
    border-radius: 25px;
    border: solid rgb(255, 255, 255);
    background: linear-gradient(135deg, #F0F2F0, #000C40);
    margin-top: 30px;
    justify-content: center;
    display: flex;
}

.left-box{
    width: 65%;
    border: solid rgb(255, 255, 255);
    border-radius: 25px;
    margin: 10px;
    height: 96%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    
}

.right-box{
    width: 35%;
    border: solid white;
    border-radius: 25px;
    margin: 10px;
    height: 96%;
    text-align: center;
}

.top{
    display: flex;
    gap: 40px;
    margin: 10px;
    justify-content: center;
}
.bottom {
    margin-top: auto;           /* pushes bottom to bottom */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
}

#image-icon{
        font-size: 150px;
}

.buttons{
        border: solid white;
        height: 23px;
        width: 80px;
        text-align: center;
        border-radius: 25px;
}

#blue{
    background-color: rgb(1, 1, 87);
    color: white;
}




#red{
    background-color:red;
    color: white;
}

#green{
    background-color: green;
    color: white;
}