.container{
    max-width: 1100px;
    background-color:rgb(146, 146, 146);
    min-height: 600px;
    margin: auto;
    display: flex;
    margin-top: 60px;
    border-radius: 15px;
    justify-content: space-between;
}

.left{
    background-color: yellow;
    min-height: 150px;
    min-width: 150px;
    min-width: 60%;
    margin: 10px;
    border-radius: 15px;
}
.right{
    background-color: rgb(117, 175, 222);
    min-height: 150px;
    min-width: 36%;
    margin: 10px;
    border-radius: 15px;
    
}
